
    .slick-slider {
        
        margin-top: 0rem; /* Adjust the margin as needed */
    }

    .slick-slide {
        padding: 0.4rem; /* Adjust the padding as needed */
    }


    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #111111;
      }
      .footer-container .footer-main {
        width: 1440px;
        padding: 40px 40px 0 40px;
      }
      .footer-container .footer-main .footer-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        
        
      }
      .footer-container .footer-main .footer-top .footer-top-left {
        display: flex;
        justify-content: space-between;
        width: 80%;
        flex-wrap: wrap ;
      }
      .footer-container .footer-main .footer-top .footer-top-left ul {
      
       padding-left: 16px;
      }
      .footer-container .footer-main .footer-top .footer-top-left ul:first-child{
        padding-left: 0;
      }
      .footer-container .footer-main .footer-top .footer-top-left ul li {
        display: flex;
        color: #707072;
        font-size: 12px;
        margin-bottom: 20px;
        font-family: "Helvetica Now Text Medium",Helvetica,Arial,sans-serif;
        
      }
      .footer-container .footer-main .footer-top .footer-top-left ul li::marker {
        content: "";
      }
      .footer-container .footer-main .footer-top .footer-top-left ul .main {
        color: #FFFFFF;
        font-weight: 500
      }
      .footer-container .footer-main .footer-top .footer-top-right ul svg {
        margin-left: 10px;
      }
      .footer-container .footer-main .footer-buttom {
        display: flex;
        justify-content: space-between;
      
      }
      .footer-container .footer-main .footer-buttom .footer-buttom-left {
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
      
      }
      .footer-container .footer-main .footer-buttom .footer-buttom-left svg {
        margin-right: 5px;
        position: relative;
        bottom: 5px
      }
      .footer-container .footer-main .footer-buttom .footer-buttom-left span {
        margin-right: 5px;
      }
      .footer-container .footer-main .footer-buttom .footer-buttom-left span:last-child {
        color: #707072;
      }
      
      .footer-container .footer-main .footer-buttom .footer-buttom-right ul  {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
      
      }
      .footer-container .footer-main .footer-buttom .footer-buttom-right ul li {
        color: #707072;
        padding-left: 10px;
      }
      
      .footer-container .footer-main .footer-buttom .footer-buttom-right ul li::marker {
        content: "";
      
      }
      
       @media (max-width: 810px) {
        .footer-container .footer-main .footer-top .footer-top-left ul {
          padding-left: 0px;
         }
         .footer-container .footer-main .footer-top .footer-top-left ul li {
          margin: 15px 0;
         }
         .footer-container .footer-main .footer-top {
          flex-direction: column;
          width: 100%;
         }
         .footer-container .footer-main .footer-top .footer-top-right ul {
          padding: 0;
         }
         .footer-container .footer-main .footer-buttom {
          flex-direction: column;
         }
         .footer-container .footer-main .footer-buttom .footer-buttom-right ul {
          flex-direction: column;
         }
         .footer-container .footer-main .footer-buttom .footer-buttom-right ul li {
          padding: 0;
          margin: 15px 0;
         }
       }


.hs-carousel-pagination span.hs-carousel-active {
  @apply bg-blue-700 border-blue-700;
}
           